
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<div class="input-group flex">
    <input class="input" type="text" placeholder="Search an item..." @bind="_searchString" />
    <button class="btn btn--icon btn--primary" @onclick="HandleSearch">
    <i class="icon fa-solid fa-search"></i>
    </button>
</div>

@code {
    private string? _searchString;

    private void HandleSearch()
    {
        NavigationManager.NavigateTo($"/search/{_searchString}");
    }
}
