@inject CategoriesClient CategoriesClient

<nav class="side-nav">
  <div class="input-group flex">
        <input class="input" type="text" placeholder="Search an item..." />
        <button class="btn btn--icon">
        <i class="icon icon--grey fa-solid fa-search"></i>
        </button>
    </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/"><span class="icon-group icon-group--orange"><i class="fa-solid fa-bag-shopping"></i></span>All Articles</a>
    </li>
    <li class="nav-item dropable" id="categoryy">
      <div class="dropable-heading">
        <span class="heading-content">
          <span class="icon-group icon-group--bluegreen"><i class="fa-solid fa-icons"></i></span>
          <span>Categories</span>
        </span>
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <ul class="dropdown-container .dropdown-active">
        @foreach (var category in _categories!)
        {
          <li class="dropdown-item">
            <a href=@GetCategoryRoute(category)>
              <span class="@_icongroupColors[category.Id]"><i class=@_categoryIcons[category.Id]></i></span>
              <span style="text-transform:capitalize">@category.Name</span>
            </a>
          </li>
        }
      </ul>
    </li>
    <li class="nav-item">
      <a href=""><span class="icon-group icon-group--green"><i class="fa-solid fa-medal"></i></span>Recommendations</a>
    </li>
    <li class="nav-item">
      <a href="listings/1"><span class="icon-group icon-group--error"><i class="fa-solid fa-tag"></i></span>My
        Listings</a>
    </li>
  </ul>
</nav>

@code {
  private Category[]? _categories;
  private Dictionary<int, string> _categoryIcons = new Dictionary<int, string>()
    {
      [1] = "fa-solid fa-inbox",
      [2] = "fa-solid fa-car",
      [3] = "fa-solid fa-mobile",
      [4] = "fa-solid fa-gamepad",
      [5] = "fa-solid fa-shirt",
      [6] = "fa-solid fa-futbol",
      [7] = "fa-solid fa-music",
      [8] = "fa-solid fa-plane",
      [9] = "fa-solid fa-house",
    };
  
  private Dictionary<int, string> _icongroupColors = new Dictionary<int, string>()
    {
      [1] = "icon-group icon-group--green",
      [2] = "icon-group icon-group--kaki",
      [3] = "icon-group icon-group--kaki",
      [4] = "icon-group icon-group--deepblue",
      [5] = "icon-group icon-group--green",
      [6] = "icon-group icon-group--error",
      [7] = "icon-group icon-group--orange",
      [8] = "icon-group icon-group--green",
      [9] = "icon-group icon-group--kaki",
    };

  protected async override Task OnInitializedAsync()
  {
    _categories = await CategoriesClient.GetCategoriesAsync();
  }

  public string GetCategoryRoute(Category category)
  => (category is null) ? "" : $"/category/{category.Name}";

}
