<nav class="top-nav flex">
    <a href="/" class="logo-section"><span class="logo">HandOver</span></a>
    <div class="actions-section">
        <a href="/additem">
            <button class="btn btn--block btn--icon btn--primary">
            <i class="fa-solid fa-plus"></i> Add an Item
            </button>
        </a>
        @* <div class="icon-section flex">
            <span class="icon-group icon-group--white">
                <i class="icon--green fa-regular fa-bell"></i>
            </span>
            <span class="icon-group icon-group--white">
                <i class="icon--green fa-regular fa-comments"></i>
            </span>
        </div> *@
        <div class="action-section">
            <a href="" class="btn btn--white">Sign in</a>
            <a href="" class="btn btn--outlined btn--outlined-primary">Sign up</a>
        </div>
    </div>
</nav>

@code {

}
