<nav class="top-nav flex">
    <a href="/" class="logo-section"><span class="logo">Logo</span></a>
    <div class="input-group flex">
        <input class="input" type="text" placeholder="Search an item..." />
        <button class="btn btn--icon">
        <i class="icon icon--grey fa-solid fa-search"></i>
        </button>
    </div>
    <div class="icon-section flex">
        <span class="icon-group">
            <i class="icon--grey fa-solid fa-bell"></i>
        </span>
        <span class="icon-group">
            <i class="icon--grey fa-solid fa-message"></i>
        </span>
    </div>
    <div class="action-section">
        <a href="" class="btn btn--primary">Sign in</a>
        <a href="" class="btn btn--white">Sign up</a>
    </div>
</nav>

@code {

}
