@page "/login"

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .form-link {
        color: var(--color-primary);
    }
</style>

<div class="main-content" style="margin-top: initial;">
    <div class="form-container" style="padding: 20px;">
        <EditForm class="form" Model="_userLogin" FormName="loginForm">
            <DataAnnotationsValidator />
            <h3>Register</h3>

             <div>
                <label for="userName">User name:</label>
                <InputText class="input" type="text" id="userName" placeholder="Enter user name..."
                    @bind-Value="_userLogin.UserName" />
                <ValidationMessage For="() => _userLogin.UserName" />
            </div>
             <div>
                <label for="password">Password:</label>
                <InputText class="input" type="text" id="password" placeholder="Enter password..."
                    @bind-Value="_userLogin.Password" />
                <ValidationMessage For="() => _userLogin.Password" />
            </div>
            <input class="btn btn--primary" type="submit" value="Login" />
            <div>Don't have an account? <a class="form-link" href="/register"> Register</a></div>
        </EditForm>
    </div>
</div>

@code {
    private LoginUser _userLogin = new();
}
